/Carte.class
/Difficile.class
/Facile.class
/Jest.class
/Joker.class
/Joueur.class
/JoueurPhys.class
/JoueurVirt.class
/Main.class
/Partie.class
/Pioche.class
/Regle1.class
/Regle2.class
/Score.class
/StratÃ.class
/SuitCards.class
/Tas.class
/Trophee.class
/Visitor.class
/suits.class
/Stratégie.class
/Strategie.class
/Condition.class
/condition.class
/Condtions.class
/Conditions.class
/Hauteur.class
/action.class
